@media all and (min-width: 320px) and (max-width: 780px) {
    body {
      color: #4d4e53;
    }
    body img {
      max-height:100px;
      max-width: 75px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
    }
    article {
      float: none;
    }
}

@media screen and (min-width:780px) {
  body img {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
}

/*Nav menu*/

header nav ol {
  margin: 0px;
  padding: 15px 15px 15px 30px;
  border-bottom: 1px solid #445878;
}

header nav ol li {
  color: #31353D;
  display: inline;
  margin-right: 40px;
  letter-spacing: 0.07em;
  text-align: center;
}

header nav li a {
  color: #31353D;
  text-decoration: none;
}

header nav li a:hover {
  color: #445878;
  text-decoration: none;
}

.category:first-letter
{
    text-transform: uppercase;
}

select {
  display: inline;
}

/*Content organization*/

#template {
  display: none;
}
