/* Mobile first
––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*Header and navigation*/
header {
  background-color: #92CDCF;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #445878;
}

header ul {
  margin: 0px;
  padding: 15px 15px 15px 30px;
}

header li {
  color: #31353D;
  display: inline;
  margin-right: 40px;
  letter-spacing: 0.07em;
  text-align: center;
  flex: 1 100%;
}

.icon-git {
  background: url(images/git-icon.png);
}

/*Main body*/
main {
  color: #4d4e53;
}
main img {
  max-height:75%;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.post {
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1em 0 1em 0;
  max-width: 100%;
  border: 1px solid #445878;
  border-radius: 10px;
}

.title {
  padding: .75em 0 .25em 0;
}

article .body {
  margin-top:1em;
}

.article-content {
  padding: 10px;
}

/*About section*/
.about-me {
  padding-top: 1em;
}

/* Desktop
––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media screen and (min-width:1000px) {
  body img {
    max-width: 50%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }

  article .body {
    margin-top:10px;
  }

  .title {
    padding: 20px 0 10px 0;
  }
}
