/* Default States
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.is-active {
  color: red;
}

header a {
  color: #31353D;
  text-decoration: none;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

/*About tab default hidden*/
.hide {
  display: none;
}

/* Form
––––––––––––––––––––––––––––––––––––––––––––––––––*/
select {
  display: inline;
  margin-top: 2em;
}

.category:first-letter
{
    text-transform: uppercase;
}
